/* Обнуляющий стиль */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
   border: 0;
   box-sizing: border-box;
}
ol li,
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html,
body{
	height: 100%;
	font-size: 14px;
	line-height: 1;
}
/* -------------- */



.wrapper{
   overflow: hidden;
   min-height: 100%;
   margin: 30px;
}

.header {
}
.logo {
   background-color: rgb(74, 84, 228);
}
.menu {
   margin: 20px 0px;
}
.menu__list {
   font-size: 0;
}
.menu__list li{
   display: inline-block;
   margin: 0px 25px 0px 0px;
}
.menu__link {
   color: rgb(10, 24, 219);
   font-size: 16px;
   font-family: "Roboto";

}

.main {
}
.block{
   color: rgb(227, 247, 117);
   margin: 0px 0px 30px 0px;
   font-family: "Roboto";
}

.block h1 {
   color: red;
   font-family: "Roboto";
   font-weight: 900;
}
.block img{
   height: 200px;
   margin: 20px 0px;
}
.block__info p{
   background-color: lightblue;
   padding: 10px;
   text-indent: 20px
}

.block__info >p {
   color: tomato;
}

.text{
   color: darkgreen;
}
p.text {
   color: brown;
}
span.text{
   color: rgb(231, 41, 231);
}

.block__info2 {
}
.block__two {
   color: slateblue;
   margin: 0px 0px 20px 0px;
   font-style: italic;
   font-weight: 700;
}

.block__two p{
   text-indent: 30px;
}
.block__two img{
   height: 200px;
}

.block__twoinfo {
   background-color: lightgoldenrodyellow;
   padding: 10px;
}

.block__twoinfo p{
   margin: 10px 0px;
}

.block__twoinfo a{
   color: greenyellow;
}
.information {
   font-size: 0;
}
.information li{
   display: inline-block;
   margin: 0px 20px 0px 0px;
}
a.information__link {
   color: rgb(231, 50, 192);
   font-size: 14px;
}

.footer {
   background-color: lightpink;
   padding: 10px;
}
h2{
   font-family: "Roboto";
   font-weight: 700;
   margin: 0px 0px 8px 0px;
}
.footer p{
   color: cyan;
   margin: 0px 0px 8px 0px;
}